body {
	background-color: #08001f;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;

	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: azure;
	font-size: 30px;
	font-weight: 900;

	background-color: #444d84;
	width: 100%;
	height: 5vh;
	border-radius: 10px;
}

.kl5, .kl4, .kl3, .kl2, .kl1 {
	display: flex;
	justify-content: start;
	width: 100%;
	gap: 1.1vh;
}
	
#klbox {
	display: inline-block;
	row-gap: 40px;
	margin-top: 7px;

	text-decoration: none;
	color: inherit;
	cursor: pointer; 


	width: 9vw;
	height: 9vw;
	background-color: #444d84;
	border-radius: 5px;
	box-shadow: 3px 3px #b2d5d1;
	transition: 0.5s;
}

#klbox:hover {
	box-shadow: 5px 5px #b2d5d1;
}

p {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;

	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 8vh;
	color: azure;

	width: 100%;
	height: 100%;
}